.git
.gitignore
keys/
bootstrap/
docs/
host/
offline/
tests/
dist/

build/*
!build/new-admission-portal/
build/new-admission-portal/*
!build/new-admission-portal/1.0.0/
!build/new-admission-portal/1.0.0/app/
!build/new-admission-portal/1.0.0/app/**

*.key
*.pem
*.p12
*.pfx
*.agekey
*_ed25519
*_rsa
.env
.env.*
secrets/
private/
